Repository modxcms/revolution, pull requests merged in 2018-04, with the labels that each got.

#13828 Update old links in about.inc.php
  core/lexicon/en/about.inc.php
Labels: area-core, bug, priority-3-low

#13838 Fix double quoted table names during upgrade
  setup/lang/en/upgrades.inc.php
Labels: area-setup, bug

#13804 Make manager search search by id for all objects
  core/model/modx/processors/search/search.class.php
Labels: area-core, area-ux/ui, enhancement

#13861 Fix installation of transport packages with setup options
  manager/assets/modext/workspace/package.containers.js
  manager/assets/modext/workspace/package.windows.js
Labels: priority-1-urgent

#13790 CLI install script to use after composer create-project
  setup/cli-install.php
Labels: area-setup, feature
