Repository modxcms/revolution, pull requests merged in 2018-03, with the labels that each got.

#13830 Enable ACL „events“ for Access Policy „Administrator“ at install
  _build/data/transport.core.accesspolicies.php
Labels: area-core, area-security, bug, priority-1-urgent

#13798 Solved a typo in modRest
  core/model/modx/rest/modrest.class.php
Labels: area-core, bug

#13771 Bug parser returning unattended message on comments
  core/model/modx/modparser.class.php
Labels: area-core, enhancement

#13835 Fix for #13761
  core/model/modx/processors/security/user/getonline.class.php
Labels: area-core, area-ux/ui, bug

#13799 Only save properties modified from the default for an element
  core/model/modx/processors/element/propertyset/updatefromelement.class.php
Labels: area-core, area-ux/ui, bug, priority-2-high
