Repository modxcms/revolution, pull requests merged in 2018-11, with the labels that each got.

#13985 Fix package update window not working if update button was pressed twice
  manager/assets/modext/workspace/package.grid.js
Labels: area-core, bug, pr-state/ready-for-merging

#14119 Make path to MODX error handler class configurable
  core/model/modx/modx.class.php
Labels: area-core, enhancement, pr-state/ready-for-merging

#14120 Restore the setup options window title, if two packages are installed…
  manager/assets/modext/workspace/package.containers.js
Labels: area-ux/ui, bug, pr-state/ready-for-merging

#14113 Fixing user combo with preselected user ids #13267
  core/model/modx/processors/security/user/getlist.class.php
Labels: area-core, bug, pr-state/ready-for-merging

#14080 [3.x] [ReUp] Make dashboard buttons go full width
  _build/templates/default/sass/_dashboard.scss
Labels: area-ux/ui, bug, pr-state/ready-for-merging

#14123 Add a new event "OnBeforeRegScripts"
  _build/data/transport.core.events.php
  core/model/modx/modresponse.class.php
Labels: area-core, feature, pr-state/ready-for-merging

#14137 Skip target validation when MODX tags detected in the content field
  core/model/modx/processors/resource/create.class.php
  core/model/modx/processors/resource/update.class.php
Labels: area-core, bug, pr-state/review-needed

#14131 Deprecate 0.9.x parser migration utilities for removal in 3.0
  core/model/modx/modparser095.class.php
  core/model/modx/modtranslate095.class.php
  core/model/modx/transport/modtranslator.class.php
Labels: area-core, enhancement, pr-state/ready-for-merging

#14140 Fixing #14139
  core/model/modx/modmenu.class.php
Labels: area-core, bug, pr-state/ready-for-merging

#14141 Fixing single purge resource
  manager/assets/modext/widgets/resource/modx.grid.trash.js
Labels: area-core, bug, pr-state/ready-for-merging

#14155 Update phpThumb to 1.7.15-201810050741
  core/model/phpthumb/phpthumb.bmp.php
  core/model/phpthumb/phpthumb.class.php
  core/model/phpthumb/phpthumb.filters.php
  core/model/phpthumb/phpthumb.functions.php
  core/model/phpthumb/phpthumb.gif.php
Labels: area-core, bug, pr-state/review-needed
