Repository modxcms/revolution, pull requests merged in 2018-02, with the labels that each got.

#13773 Redesigned manager login
  _build/data/transport.core.system_settings.php
  _build/templates/default/sass/login.scss
  core/lexicon/en/languages_native.inc.php
  core/lexicon/en/login.inc.php
  core/lexicon/en/setting.inc.php
  manager/assets/modext/sections/login.js
  manager/controllers/default/security/login.class.php
  manager/templates/default/css/login-min.css
  manager/templates/default/css/login.css
  manager/templates/default/images/login/default-background.jpg
  manager/templates/default/security/login.tpl
Labels: area-ux/ui

#12857 Removing Disable Compress Checkbox from Setup Installer
  setup/templates/options.tpl
Labels: area-setup, enhancement, priority-2-high

#13779 Update default.inc.php
  core/lexicon/en/default.inc.php
Labels: area-core, bug, priority-3-low
