Repository modxcms/revolution, pull requests merged in 2020-03, with the labels that each got.

#15034 Update link on the page help
  core/lexicon/en/about.inc.php
  manager/templates/default/help.tpl
Labels: cla-signed

#15038 Reduce unnecessary and deprecated use of `xPDO::loadClass`
  _build/test/Tests/Model/Lexicon/modLexiconTest.php
  _build/test/Tests/Model/Registry/modRegisterTest.php
  core/src/Revolution/Processors/Browser/Browser.php
  core/src/Revolution/Processors/Source/Type/GetList.php
  core/src/Revolution/Processors/System/PhpThumb.php
  core/src/Revolution/Processors/Workspace/Packages/Upload.php
  core/src/Revolution/Sources/modMediaSource.php
  core/src/Revolution/modParser.php
  core/src/Revolution/modUser.php
  manager/controllers/default/element/tv/create.class.php
  manager/controllers/default/system/file/create.class.php
  manager/controllers/default/system/file/edit.class.php
Labels: 3.x refactor, cla-signed, pr-state/ready-for-merging

#15032 Solve a few PHP 7.4 deprecation warnings
  core/src/Revolution/Transport/modTransportPackage.php
  core/src/Revolution/modPhpThumb.php
  core/src/Revolution/modX.php
  setup/includes/parser/modinstallsmarty.class.php
Labels: area-core, cla-signed, pr-state/review-needed
