Repository modxcms/revolution, pull requests merged in 2021-05, with the labels that each got.

#15704 Fix PHPMailer version display
  manager/controllers/default/system/info.class.php
Labels: cla-signed

#15705 Fix PHP 8 warnings in modPhpThumb
  core/model/phpthumb/modphpthumb.class.php
Labels: area-core, bug, cla-signed, pr/port-to-3

#15706 Fix PHP 8 compatibility with phpThumb
  core/model/phpthumb/phpthumb.class.php
Labels: cla-signed, pr/review-needed

#15702 Return content from non-binary static resources
  core/model/modx/modstaticresource.class.php
Labels: cla-signed, pr/review-needed

#15697 Fix filesize() calculation for static resources
  core/model/modx/modstaticresource.class.php
Labels: cla-signed, pr/review-needed

#15709 Fix incorrect id format in modFileMediaSource
  core/model/modx/sources/modfilemediasource.class.php
Labels: cla-signed

#15714 Adjust filtering of placeholders and accessible options for `@SELECT`
  core/model/modx/modtemplatevar.class.php
  core/model/modx/modx.class.php
Labels: cla-signed, pr/review-needed, urgent

#15715 Avoid setting headers for modStaticResource when returning content
  core/model/modx/modstaticresource.class.php
Labels: bug, cla-signed, pr/review-needed, urgent

#15721 Patch MagpieRSS for basic use in PHP 8
  core/model/modx/processors/system/dashboard/widget/feed.class.php
  core/model/modx/xmlrss/magpierss.class.php
  core/model/modx/xmlrss/rssfetch.class.php
Labels: bug, cla-signed, pr/review-needed

#15720 XSS issues reported by Solar Security
  manager/controllers/default/browser/index.class.php
  manager/controllers/default/context/update.class.php
  manager/controllers/default/search.class.php
  manager/controllers/default/security/forms/set/update.class.php
Labels: cla-signed, pr/port-to-3, pr/review-needed, urgent
