Repository modxcms/revolution, pull requests merged in 2021-09, with the labels that each got.

#15731 Fix image TV display via hash
  core/model/modx/processors/element/tv/renders/mgr/input/image.class.php
  core/model/modx/processors/system/phpthumb.class.php
  manager/templates/default/element/tv/renders/input/image.tpl
Labels: area-core, pr/ready-for-merging, cla-signed, pr/port-to-3

#15775 Fix image TV display via hash
  core/src/Revolution/Processors/Element/TemplateVar/Renders/mgr/input/image.class.php
  core/src/Revolution/Processors/System/PhpThumb.php
  manager/templates/default/element/tv/renders/input/image.tpl
Labels: area-core, pr/ready-for-merging, cla-signed, pr/port-to-3

#15793 Modernize manager template build workflow
  _build/templates/default/gruntfile.js
  _build/templates/default/package-lock.json
  _build/templates/default/package.json
  _build/templates/default/sass/_colors-and-vars.scss
  manager/assets/lib/popper.min.js
  manager/assets/modext/modx.jsgrps-min.js
  manager/templates/default/css/index-min.css
  manager/templates/default/css/index.css
  manager/templates/default/css/login-min.css
  manager/templates/default/css/login.css
  manager/templates/default/fonts/fa-brands-400.eot
  manager/templates/default/fonts/fa-brands-400.svg
  manager/templates/default/fonts/fa-brands-400.ttf
  manager/templates/default/fonts/fa-brands-400.woff
  manager/templates/default/fonts/fa-brands-400.woff2
  manager/templates/default/fonts/fa-regular-400.eot
  manager/templates/default/fonts/fa-regular-400.svg
  manager/templates/default/fonts/fa-regular-400.ttf
  manager/templates/default/fonts/fa-regular-400.woff
  manager/templates/default/fonts/fa-regular-400.woff2
  manager/templates/default/fonts/fa-solid-900.eot
  manager/templates/default/fonts/fa-solid-900.svg
  manager/templates/default/fonts/fa-solid-900.ttf
  manager/templates/default/fonts/fa-solid-900.woff
  manager/templates/default/fonts/fa-solid-900.woff2
  setup/assets/css/installer-min.css
  setup/assets/css/installer.css
Labels: pr/ready-for-merging, cla-signed

#15802 Fix Tab Visibility in User Group Editing Panel
  manager/assets/modext/widgets/security/modx.panel.user.group.js
Labels: pr/ready-for-merging, cla-signed

#15808 Update PHPMailer 6.5.1
  core/model/modx/mail/phpmailer/README.md
  core/model/modx/mail/phpmailer/SECURITY.md
  core/model/modx/mail/phpmailer/VERSION
  core/model/modx/mail/phpmailer/composer.json
  core/model/modx/mail/phpmailer/language/phpmailer.lang-ar.php
  core/model/modx/mail/phpmailer/language/phpmailer.lang-ja.php
  core/model/modx/mail/phpmailer/language/phpmailer.lang-nl.php
  core/model/modx/mail/phpmailer/src/Exception.php
  core/model/modx/mail/phpmailer/src/PHPMailer.php
  core/model/modx/mail/phpmailer/src/POP3.php
  core/model/modx/mail/phpmailer/src/SMTP.php
Labels: pr/review-needed, cla-signed

#15805 Lazy load thumbnails in media browser
  manager/assets/modext/modx.jsgrps-min.js
  manager/assets/modext/widgets/media/modx.browser.js
Labels: pr/ready-for-merging, pr/review-needed, cla-signed

#15816 Update phpThumb v1.7.17-202109221111
  core/model/phpthumb/phpthumb.class.php
Labels: pr/ready-for-merging, cla-signed

#15756 Hide user settings tab based on permissions
  core/model/modx/processors/system/settings/getareas.class.php
  manager/assets/modext/widgets/security/modx.panel.user.js
  manager/controllers/default/security/user/update.class.php
Labels: pr/ready-for-merging, cla-signed, pr/port-to-3

#15776 Hide user settings tab based on permissions
  core/src/Revolution/Processors/System/Settings/GetAreas.php
  manager/assets/modext/widgets/security/modx.panel.user.js
  manager/controllers/default/security/user/update.class.php
Labels: cla-signed

#15535 Refactor of template-picker
  _build/data/transport.core.system_settings.php
  _build/templates/default/gruntfile.js
  _build/templates/default/sass/_forms.scss
  core/lexicon/en/setting.inc.php
  core/lexicon/en/template.inc.php
  core/model/schema/modx.mysql.schema.xml
  core/src/Revolution/Processors/Element/Template/GetList.php
  core/src/Revolution/Processors/Resource/GetList.php
  core/src/Revolution/Processors/Resource/GetToolbar.php
  core/src/Revolution/modElement.php
  core/src/Revolution/modManagerController.php
  core/src/Revolution/mysql/modTemplate.php
  manager/assets/modext/core/modx.js
  manager/assets/modext/modx.jsgrps-min.js
  manager/assets/modext/widgets/core/modx.combo.js
  manager/assets/modext/widgets/element/modx.panel.template.js
  manager/assets/modext/widgets/resource/modx.panel.resource.js
  manager/assets/modext/widgets/resource/modx.tree.resource.js
  manager/assets/modext/widgets/resource/modx.window.resource.js
  manager/templates/default/css/index-min.css
  manager/templates/default/css/index.css
  manager/templates/default/images/tp-no-preview.png
  setup/includes/upgrades/common/3.0.0-template-preview.php
  setup/includes/upgrades/mysql/3.0.0-pl.php
Labels: proposal, cla-signed
