Repository modxcms/revolution, pull requests merged in 2022-12, with the labels that each got.

#16310 Update phpThumb v1.7.19-202210110924
  core/model/phpthumb/phpthumb.class.php
  core/model/phpthumb/phpthumb.filters.php
  core/model/phpthumb/phpthumb.gif.php
Labels: pr/ready-for-merging, cla-signed

#16312 Pass correct type to setlocale to prevent fatal error on PHP8 in rare edge cases
  core/model/modx/modx.class.php
Labels: pr/ready-for-merging, cla-signed

#16315 fix name of permission 'delete_static_resource'
  core/model/modx/processors/resource/delete.class.php
Labels: pr/ready-for-merging, cla-signed

#16301 Suppress PHP8 Smarty warnings
  core/model/modx/smarty/modsmarty.class.php
Labels: cla-signed

#16289 Catch dashboard widget errors on a per-widget basis
  core/src/Revolution/modDashboardWidgetInterface.php
Labels: area-core, pr/review-needed, cla-signed

#16290 Remove create_function from moddashboardwidget
  core/model/modx/moddashboardwidget.class.php
Labels: pr/review-needed, cla-signed

#16320 Ensure modHashing::getHash is limited to modHash instances
  _build/test/Tests/Model/Hashing/modHashingTest.php
  core/src/Revolution/Hashing/modHashing.php
Labels: cla-signed
