Repository modxcms/revolution, pull requests merged in 2023-02, with the labels that each got.

#16379 Upgrade legacy modSessionHandler class references in settings
  core/lexicon/en/setting.inc.php
  setup/includes/upgrades/common/3.0.4-update-session-handler-class.php
  setup/includes/upgrades/mysql/3.0.4-pl.php
Labels: bug, cla-signed, pr/port-to-3

#16276 REST service case insensitive sub level search
  core/src/Revolution/Rest/modRestService.php
Labels: pr/review-needed, cla-signed

#16244 Prioritize exact matches in manager search result
  core/model/modx/processors/search/search.class.php
Labels: cla-signed, pr/port-to-3

#16395 RestController: when no specific classAlias is set, use automatic alias from xPDO
  core/src/Revolution/Rest/modRestController.php
Labels: bug, cla-signed
