Repository modxcms/revolution, pull requests merged in 2023-09, with the labels that each got.

#16425 Fix undefined global variable $_SESSION in a CLI connector (#16422)
  core/model/modx/modconnectorrequest.class.php
Labels: bug, pr/ready-for-merging, cla-signed

#16439 Harden security/profile/get processor
  core/model/modx/processors/security/profile/get.class.php
Labels: bug, area-security, urgent, pr/ready-for-merging, cla-signed

#16450 Fix issue with nested menu items
  _build/data/transport.core.system_settings.php
  _build/templates/default/sass/_navbar.scss
  core/lexicon/en/setting.inc.php
  manager/controllers/default/header.php
  manager/templates/default/css/index-min.css
  manager/templates/default/css/index.css
Labels: type-frontend, pr/ready-for-merging, cla-signed, pr/port-to-3

#16458 Update modx.panel.resource.weblink.js
  manager/assets/modext/widgets/resource/modx.panel.resource.weblink.js
Labels: pr/ready-for-merging, cla-signed

#16461 Change default gravatar type for user
  core/model/modx/moduser.class.php
Labels: type-frontend, pr/ready-for-merging, pr/port-to-3
