Repository modxcms/revolution, pull requests merged in 2023-04, with the labels that each got.

#16423 Add triggers for OnUserBeforeRemoveFromGroup and OnUserRemoveFromGroup
  core/src/Revolution/Processors/Security/Group/User/Remove.php
Labels: bug, cla-signed

#16422 Fix undefined global variable $_SESSION in a CLI connector
  core/src/Revolution/modConnectorRequest.php
Labels: bug, cla-signed, needs-backport, pr/port-to-2

#16418 Fixed steal processor
  core/model/modx/processors/resource/locks/steal.class.php
Labels: bug, pr/review-needed, cla-signed, pr/port-to-3

#16419 Update Smarty to 3.1.48
  core/model/modx/smarty/modsmarty.class.php
  core/model/smarty/Smarty.class.php
  core/model/smarty/plugins/function.html_select_date.php
  core/model/smarty/plugins/function.mailto.php
  core/model/smarty/plugins/function.math.php
  core/model/smarty/plugins/modifier.escape.php
  core/model/smarty/plugins/modifiercompiler.escape.php
  core/model/smarty/plugins/modifiercompiler.unescape.php
  core/model/smarty/plugins/shared.mb_str_replace.php
  core/model/smarty/sysplugins/smarty_internal_compile_block.php
  core/model/smarty/sysplugins/smarty_internal_compile_function.php
  core/model/smarty/sysplugins/smarty_internal_compile_include.php
  core/model/smarty/sysplugins/smarty_internal_config_file_compiler.php
  core/model/smarty/sysplugins/smarty_internal_runtime_codeframe.php
  core/model/smarty/sysplugins/smarty_internal_templatebase.php
  core/model/smarty/sysplugins/smarty_internal_templatecompilerbase.php
Labels: pr/ready-for-merging, cla-signed
