Repository modxcms/revolution, pull requests merged in 2024-07, with the labels that each got.

#16469 Fix and enhance usergroup permissions handling and display
  _build/templates/default/sass/index.scss
  core/lexicon/en/access.inc.php
  core/lexicon/en/user.inc.php
  manager/assets/modext/modx.jsgrps-min.js
  manager/assets/modext/widgets/core/modx.window.js
  manager/assets/modext/widgets/security/modx.grid.user.group.base.js
  manager/assets/modext/widgets/security/modx.grid.user.group.category.js
  manager/assets/modext/widgets/security/modx.grid.user.group.context.js
  manager/assets/modext/widgets/security/modx.grid.user.group.namespace.js
  manager/assets/modext/widgets/security/modx.grid.user.group.resource.js
  manager/assets/modext/widgets/security/modx.grid.user.group.source.js
  manager/controllers/default/security/usergroup/update.class.php
  manager/templates/default/css/index-min.css
  manager/templates/default/css/index.css
Labels: pr/review-needed

#16568 Fix Role Authority Editability
  _build/templates/default/sass/index.scss
  core/lexicon/en/user.inc.php
  core/src/Revolution/Processors/Security/Role/GetList.php
  manager/assets/modext/modx.jsgrps-min.js
  manager/assets/modext/widgets/core/modx.grid.js
  manager/assets/modext/widgets/security/modx.grid.role.js
  manager/templates/default/css/index-min.css
  manager/templates/default/css/index.css
Labels: requires build

#16587 Make authority a unique index on modUserGroupRole
  core/model/schema/modx.mysql.schema.xml
  core/src/Revolution/mysql/modUserGroupRole.php
  setup/includes/upgrades/common/3.1.0-modify-usergrouprole-authority-index.php
  setup/includes/upgrades/mysql/3.1.0-pl.php
  setup/lang/en/upgrades.inc.php
Labels: bug, area-core, area-setup
